<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Desarrollado por:</h2>
                    <p>Santiago Ruiz Rincon</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Desarrollado por:</h2>
                    <p>Elian David Celis Avila</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Desarrollado por:</h2>
                    <p>Cristian Felipe Sabogal Suarez</p>
                </div>
            </div>    
        </div>
    </div>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2022.</p>
                </div>
            </div>
        </div>    
    </section>
</footer>